<!-- popup -->
<div style="display:none;">
  <div class="frm-popup" id="popup_jml_karyawan_<%= id %>">
    <div class="title-page-tambah"><%= id %></div>
    <fieldset>
      <table>
        <thead>
          <tr>
            <th class="left-text">Nama Karyawan</th>
            <th class="left-text">Group</th>
            <th class="left-text">Shift</th>
          </tr>
        </thead>
        <tbody>
          <tr><td>Andi albar</td><td>Group A</td><td>Pagi</td></tr>
          <tr><td>Ahmad Stiawan</td><td>Group A</td><td>Pagi</td></tr>
          <tr><td>Surya sinaga</td><td>Group A</td><td>Pagi</td></tr>
          <tr><td>Rudi irawan</td><td>Group A</td><td>Pagi</td></tr>
          <tr><td>Setiawan agung</td><td>Group A</td><td>Pagi</td></tr>
          <tr><td>pramono sukma</td><td>Group A</td><td>Pagi</td></tr>
          <tr><td>Hari kirana</td><td>Group A</td><td>Pagi</td></tr>
          <tr><td>Imam sofwan</td><td>Group A</td><td>Pagi</td></tr>
          <tr><td>Edi silasahi</td><td>Group A</td><td>Pagi</td></tr>
          <tr><td>Shanti oki</td><td>Group A</td><td>Pagi</td></tr>
          <tr><td>wildan angga</td><td>Group A</td><td>Pagi</td></tr>
          <tr><td>Putra seruni</td><td>Group A</td><td>Pagi</td></tr>
        </tbody>
      </table>
    </fieldset>
  </div>
</div>
<div class="clear"></div>
<!-- end popup -->