<!-- popup -->
      <div style="display:none;">
        <div class="frm-popup" id="popup_jml_group_<%= id %>">
          <div class="title-page-tambah"><%= id %></div>
          <fieldset>
            <table>
              <thead>
                <tr>
                  <th class="left-text">Info nama group</th>
                  <th class="left-text">Jumlah Karyawan</th>
                  <th class="left-text">Shift saat ini</th>
                </tr>
              </thead>
              <tbody>
                <tr><td>Group A</td><td>11</td><td>Pagi</td></tr>
                <tr><td>Group B</td><td>11</td><td>Pagi</td></tr>
                <tr><td>Group C</td><td>11</td><td>Pagi</td></tr>
              </tbody>
            </table>
          </fieldset>
        </div>
      </div>
      <div class="clear"></div>
      <!-- end popup -->