     <!-- popup -->
<div style="display:none">
  <div class="frm-popup" id="popup_jml_jabatan_<%= id %>">
    <div class="title-page-tambah">Popup Jabatan <%= id %></div>
    <fieldset>
      <table>
        <thead>
          <tr>
            <th class="left-text">Jabatan</th>
          </tr>
        </thead>
        <tbody>
          <tr><td>Ka. spinning</td></tr>
          <tr><td>Ka. printing</td></tr>
          <tr><td>Akunting</td></tr>
          <tr><td>HRD</td></tr>
        </tbody>
      </table>
    </fieldset>
  </div>
</div>
<div class="clear"></div>
<!-- end popup -->