<div class="panelFilter">
	<label>Tampilkan</label>
	<select>
    <option>Pilih Filter</option>
    <option>Periode</option>
    <option>Keterangan</option>
    <option>Tingkat Penyakit</option>
    <option>Pembiayaan</option>
  </select>
  <input type="text" />
	<span class="add-button right">
    <a class="grey_button2" id="add_barang" href="#">
      <span class="icons add_ico">&nbsp;</span>Tambah Data Perawatan
    </a>
	</span>
</div>

<table width="1381">
  <thead>
	  <tr>
		  <th width="38" >No.</th>
			<th width="113" > <a href=""> <span class="center-text">Periode</span></a> </th>
			<th width="120" class="center-text"  > <a href="" class="left-text"> Keterangan  </a> </th>
			<th width="188" class="left-text">Tingkat Penyakit</th>
			<th width="128" class="left-text">Pembiayaan</th>
			<th width="272" class="left-text">Perlakuan</th>
		</tr>
	</thead>
	<tbody>
		<tr>
		  <td class="left-text"><span class="center-text">1.</span></td>
			<td class="left-text">Sep 2010</td>
			<td class="left-text">DBD</td>
			<td>Berat</td>
			<td>Asuransi</td>
		  <td>
        <span class="icons edit-icon">&nbsp;</span>
        <a href="#" class="grey_button3">
          <span class="left">Edit</span>
        </a>
        <span class="icons delete-icon">&nbsp;</span>
        <a href="#" class="grey_button3">
          <span class="left">Hapus</span>
        </a>
        <span class="icons detail-icon">&nbsp;</span>
        <a href="#" class="grey_button4">
          <span class="left">Lihat Detail</span>
        </a>
      </td>
		 </tr>
	   <tr class="alt">
		   <td class="left-text">2.</td>
			 <td class="left-text">Des 2010</td>
			 <td class="left-text">Flu Berat</td>
			 <td>Sedang</td>
			 <td>Sendiri</td>
			 <td><span class="icons edit-icon">&nbsp;</span>
         <a href="#" class="grey_button3">
           <span class="left">Edit</span>
         </a>
         <span class="icons delete-icon">&nbsp;</span>
         <a href="#" class="grey_button3">
           <span class="left">Hapus</span>
         </a>
         <span class="icons detail-icon">&nbsp;</span>
         <a href="#" class="grey_button4">
           <span class="left">Lihat Detail</span>
         </a>
       </td>
		  </tr>
			<tr>
			  <td class="left-text">3.</td>
			  <td class="left-text">Feb 2011</td>
			  <td class="left-text">Liver</td>
			  <td>Berat</td>
			  <td>Asuransi</td>
			  <td><span class="icons edit-icon">&nbsp;</span>
          <a href="#" class="grey_button3">
            <span class="left">Edit</span>
          </a>
          <span class="icons delete-icon">&nbsp;</span>
          <a href="#" class="grey_button3">
            <span class="left">Hapus</span>
          </a>
          <span class="icons detail-icon">&nbsp;</span>
          <a href="#" class="grey_button4">
            <span class="left">Lihat Detail</span>
          </a>
        </td>
		  </tr>
  </tbody>
</table>