<div class="input-data">
  <fieldset class="fm-table">
    <legend>
      <a href="#" id="help_dash_others" class="icons help-top-icon" title="Click to show/hide information">&nbsp;</a>
      Absensi
    </legend>
    <%= render :partial => "layouts/howto_with_param/howto_content"%>
    <span class="input">
      <label style="width:300px;">Karyawan terlambat berturut-turut </label>:
      <a href="#late"><%= late %> karyawan</a>
    </span>
    <div class="clear"></div>

    <span class="input">
      <label style="width:300px;">Karyawan mangkir berturut-turut </label>:
      <a href="#absent"><%= mangkir %> karyawan</a>
    </span>
    <div class="clear"></div>

    <div class="clear"></div>
  </fieldset>
</div>


