<div id="list_detail" class="list" style="display: none; ">
   <ul>
     <li style="cursor: default; list-style-image: none; "><b>Nama hari libur</b>: nama hari libur.</li>
   </ul>
</div>

<div id="list_periode" class="list" style="display: none; ">
   <ul>
     <li style="cursor: default; list-style-image: none; ">
       <b>Periode</b>: periode hari libur untuk libur yang Anda tetapkan, masukkan tanggal yang sama jika hari libur terjadi pada hari yang sama. Masukkan periode libur termasuk cuti bersamanya jika memang pada hari libur tersebut terdapat cuti bersama semua karyawan dan definisikan jumlah hari cuti bersamanya di bawah.
     </li>
   </ul>
</div>

<div id="list_length_holiday" class="list" style="display: none; ">
   <ul>
     <li style="cursor: default; list-style-image: none; ">
       <b>Lama libur</b>: lama hari libur berdasarkan data yang Anda masukkan, Anda tidak perlu memasukkan data ini karena sistem yang akan menghitungkan untuk Anda
     </li>
   </ul>
</div>

<div id="list_leave_together" class="list" style="display: none; ">
   <ul>
     <li style="cursor: default; list-style-image: none; ">
       <b>Cuti bersama</b>: silahkan ceklist jika hari libur yang Anda masukkan di atas termasuk cuti bersama seluruh karyawan. Masukkan jumlah hari cuti bersama yang termasuk pada periode libur di atas.
     </li>
   </ul>
</div>

<%= javascript_include_tag  'tax_status_tooltips' %>