<table>
  <thead>
     <tr>
       <th><input type="checkbox"></th>
       <th><a href=""><span class="center-text">Periode</span><span class="icons sorter_ico">&nbsp;</span></a></th>
       <th class="left-text"><a href=""><span class="center-text">Gaji Bersih</span>
          <span class="icons sorter_ico">&nbsp;</span></a>
       </th>
       <th class="left-text"> <a href="">Gaji Lembur<span class="icons sorter_ico">&nbsp;</span> </a></th>
       <th class="left-text"> <a href="">Potongan Gaji<span class="icons sorter_ico">&nbsp;</span> </a></th>
       <th class="left-text"> <a href="">Potongan PPh<span class="icons sorter_ico">&nbsp;</span> </a></th>
       <th class="left-text"> <a href="">Gaji Diterima<span class="icons sorter_ico">&nbsp;</span> </a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="checkbox"></td>
      <td class="left-text">January 2010</td>
      <td class="right-text">Rp 000000</td>
      <td class="right-text">Rp 000000</td>
      <td class="right-text">Rp 000000</td>
      <td class="right-text">Rp 000000</td>
      <td class="right-text">Rp 000000</td>
    </tr>
    <tr>
      <td><input type="checkbox"></td>
      <td class="left-text">February 2010</td>
      <td class="right-text">Rp 000000</td>
      <td class="right-text">Rp 000000</td>
      <td class="right-text">Rp 000000</td>
      <td class="right-text">Rp 000000</td>
      <td class="right-text">Rp 000000</td>
    </tr>
    <tr>
      <td><input type="checkbox"></td>
      <td class="left-text">Maret 2010</td>
      <td class="right-text">Rp 000000</td>
      <td class="right-text">Rp 000000</td>
      <td class="right-text">Rp 000000</td>
      <td class="right-text">Rp 000000</td>
      <td class="right-text">Rp 000000</td>
    </tr>
    <tr>
      <td><input type="checkbox"></td>
      <td class="left-text">April 2010</td>
      <td class="right-text">Rp 000000</td>
      <td class="right-text">Rp 000000</td>
      <td class="right-text">Rp 000000</td>
      <td class="right-text">Rp 000000</td>
      <td class="right-text">Rp 000000</td>
    </tr>
    <tr>
      <td><input type="checkbox"></td>
      <td class="left-text">Mei 2010</td>
      <td class="right-text">Rp 000000</td>
      <td class="right-text">Rp 000000</td>
      <td class="right-text">Rp 000000</td>
      <td class="right-text">Rp 000000</td>
      <td class="right-text">Rp 000000</td>
    </tr>
    <tr>
      <td><input type="checkbox"></td>
      <td class="left-text">Juni 2010</td>
      <td class="right-text">Rp 000000</td>
      <td class="right-text">Rp 000000</td>
      <td class="right-text">Rp 000000</td>
      <td class="right-text">Rp 000000</td>
      <td class="right-text">Rp 000000</td>
    </tr>

  </tbody>
</table>