<table>
  <thead>
     <tr>
       <th><input type="checkbox"></th>
       <th><a href=""><span class="center-text">Hari-Tanggal</span><span class="icons sorter_ico">&nbsp;</span></a></th>
       <th class="left-text"><a href=""><span class="center-text">Waktu Lembur </span>
          <span class="icons sorter_ico">&nbsp;</span></a>
       </th>
       <th class="left-text"> <a href="">Alasan Lembur<span class="icons sorter_ico">&nbsp;</span> </a></th>
       <th class="left-text"> <a href="">Status Lembur<span class="icons sorter_ico">&nbsp;</span> </a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="checkbox"></td>
      <td class="left-text">Senin - 28 February 2011</td>
      <td class="left-text">-</td>
      <td class="left-text">Banyak Pekerjaan</td>
      <td class="left-text">Pending</td>
    </tr>
    <tr>
      <td><input type="checkbox"></td>
      <td class="left-text">Selasa- 11 January 2010</td>
      <td class="left-text">05 jam 00 menit</td>
      <td class="left-text">Project deadline</td>
      <td class="left-text">Selesai</td>
    </tr>

  </tbody>
</table>