<%= render :partial=> "layouts/shared/breadcrumbs" %>

<fieldset class="fm-table">
  <legend><a href="#" id="help_dash" class="icons help-top-icon" title="Click to show/hide information">&nbsp;</a>
   Demosi Karyawan</legend>
  <%= render :partial => "layouts/howto/howto_content"%>
  <%= render :partial => "layouts/delete_message" %>
  <div id="div_demosi">
    <%= render :partial => "demosi" %>
  </div>
</fieldset>