
.login_page .title_header {
margin:0 0 10px;
padding:0 0 10px;
}
.login_page .login_page_spacer {
height:35px;
}
.login_page .title_header h2.no_icon {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent none repeat scroll 0 50%;
margin:0;
padding:0;
}
.login_page #loginform {
clear:left;
margin:auto;
padding:15px 0;
text-align:left;
width:380px;
}
.login_page #loginform p {
line-height:16px;
margin:10px 0;
text-align:left;
}
.login_page #loginform p.reset_password {
margin-bottom:0;
padding-bottom:0;
}
.login_page .apinote {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFFF none repeat scroll 0 0;
margin:10px auto;
width:450px;
}
.login_page .apinote h2 {
font-size:12px;
margin-bottom:6px;
}
.login_page .dialog_buttons {
background-color:#F2F2F2;
border-top:1px solid #CCCCCC;
margin:0 -40px;
padding:8px 10px;
text-align:right;
}
.login_page .dialog_buttons .logged_in_as {
float:left;
margin-top:3px;
text-align:left;
width:240px;
}
.login_page .dialog_buttons .register_link {
float:left;
font-weight:bold;
margin-top:4px;
text-align:left;
}
.login_page #email {
direction:ltr;
}
.login_page #booklet #content {
float:none;
padding:40px 40px 0;
width:auto;
}
.login_page #booklet #loginform {
margin-bottom:5px;
padding:20px 0;
}
.form_row {
padding:0 0 8px;
text-align:left;
}
.form_row label {
display:block;
float:left;
padding:3px 0;
width:100px;
}
.form_row input {
margin:0;
}
.form_row .inputtext, .inputpassword {
width:175px;
}
.form_row .checkbox {
float:left;
margin:5px 4px 2px 0;
width:15px;
}
.persistent {
color:#333333;
display:block;
font-size:11px;
font-weight:normal;
line-height:16px;
padding:3px 0 3px 100px;
}
#buttons {
padding:5px 0 0 100px;
text-align:left;
}
#buttons input {
margin:0 2px 0 0;
}
#buttons label {
float:none;
width:auto;
}
.reset_password {
padding-left:100px;
}
.reset_password label {
float:none;
font-weight:normal;
width:auto;
}
.reset #content {
padding:20px;
}
#bootloader_css_login_css {
height:42px;
}
