<div class="clear"></div>
<span class="input">
  <label class="width190px">Kode BCA cabang</label> <span class="prop">&nbsp;</span> <%#= @payroll.bca_branch_code %>
</span>
<span class="clear"></span>
<span class="input">
  <label class="width190px">Kode BCA milik perusahaan</label> <span class="prop">&nbsp;</span> <%#= @payroll.bca_company_code %>
</span>
<span class="clear"></span>
<span class="input">
  <label class="width190px">Inisial perusahaan di BCA</label> <span class="prop">&nbsp;</span> <%#= @payroll.bca_company_initial %>
</span>
<span class="clear"></span>
<span class="input">
  <label class="width190px">No rekening BCA perusahaan</label> <span class="prop">&nbsp;</span> <%#= @payroll.bca_company_account_number %>
</span>