<span class="input-field hide3">
  <label  class="width180px">
    Kode BCA cabang :
  </label>
  <%= f.text_field :bca_branch_code %>
</span>
<span class="clear"></span>

<span class="input-field hide3">
  <label  class="width180px">
  Kode BCA milik perusahaan :
  </label>
  <%= f.text_field :bca_company_code %>
</span>
<span class="clear"></span>

<span class="input-field hide3">
  <label  class="width180px">
    Inisial perusahaan di BCA :
  </label>
  <%= f.text_field :bca_company_initial %>
</span>
<span class="clear"></span>

<span class="input-field hide3">
  <label  class="width180px">
    No rekening BCA perusahaan :
  </label>
  <%= f.text_field :bca_company_account_number %>
</span>
<span class="clear"></span>