<div class="left">
  <div class="box-form">
    <span class="input">
      <label class="auto widthAuto"><%= @company_name %> <span class="bold"> Belum menentukan Jamsostek</span> </label>
    </span>
    <div class="clear"></div>
    <div class="clear"></div>
    <span class="input">
      <label class="auto widthAuto"> <%= @company_name %> Belum menentukan besar Jamsostek yang diberikan</label>
    </span>
    <div class="clear"></div>
    <span class="input">
      <label class="auto widthAuto">Total hari kerja di <%= @company_name %> belum ditentukan</label>
    </span>
    <div class="clear"></div>
    <span class="input">
      <label class="auto widthAuto">Tanggal cut-off di <%= @company_name %> belum ditentukan</label>
    </span>
    <div class="clear"></div>
    <span class="input">
      <label class="width190px">Kode BCA cabang</label>
      <span class="prop">&nbsp;</span>
      ---
    </span>
    <span class="clear"></span>
    <span class="input">
      <label class="width190px">Kode BCA milik perusahaan</label>
      <span class="prop">&nbsp;</span>
      ---
    </span>
    <span class="clear"></span>
    <span class="input">
      <label class="width190px">Inisial perusahaan di BCA</label>
      <span class="prop">&nbsp;</span>
      ---
    </span>
    <span class="clear"></span>
    <span class="input">
      <label class="width190px">No rekening BCA perusahaan</label>
      <span class="prop">&nbsp;</span>
      ---
    </span>
    <span class="clear"></span>
  </div>
</div>