<table style="width:450px; margin: 0pt 0pt;">
                     <thead>
                       <tr>
                         <th width="90"> <a href=""> <span class="center-text">Divisi</span></a> </th>
                         <th width="90" class="center-text"> <a class="left-text" href="">Unit</a> </th>
                         <th width="90" class="left-text"><a href="#">Group</a></th>
                         <th width="70" class="left-text">Hapus</th>
                       </tr>
                     </thead>
                     <tbody>
                       <tr>
                         <td>Gudang</td>
                         <td>
                           Winding
                         </td>
                         <td>Group A</td>
                         <td>X</td>
                       </tr>
                       <tr>
                         <td>
                           Teknik
                         </td>
                         <td>
                           Hanger Sample
                         </td>
                         <td> Group B
                         <td>X</td>

                       </tr>
                       <tr>
                         <td>
                           <select>
                             <option>Pilih Divisi</option>
                           </select>
                         </td>
                         <td>
                           <select>
                             <option>Pilih Unit</option>
                           </select>
                         </td>
                         <td> <select>
                             <option>Pilih Group</option>
                           </select></td>
                         <td>X</td>

                       </tr>
                       
                     </tbody>
                   </table>