 <table style="width: 400px; margin: 0pt;">
                     <thead>
                       <tr>
                         <th width="90"> <a href=""> <span class="center-text">Nama</span></a> </th>
                         <th width="20" class="left-text">Hapus</th>
                       </tr>
                     </thead>
                     <tbody>
                       <tr>
                         <td>Andi Albar</td>
                         <td>X</td>
                       </tr>
                       <tr>
                         <td>
                           Vita Dewi
                         </td>
                         <td>X</td>

                       </tr>
                       <tr>
                         <td>
                           Reacha
                         </td>
                         <td>X</td>
                         <tr>
                         <td>
                           Ayu
                         </td>
                         <td>X</td>

                       </tr>

                     </tbody>
                   </table>