<div class="clear"></div>
<table>
		  <thead>
			  <tr>
			    <th class="center-text"> <a href="" class="left-text"> Nama Shift<span class="icons sorter_ico">&nbsp;</span> </a> </th>
          <th class="left-text"> <a href="#">(1/3 2011)<br>Senin</a><a href="#"></a></th>
          <th class="left-text"> <a href="#">(2/3 2011)<br>Selasa</a><a href="#"></a></th>
          <th class="left-text"> <a href="#">(3/3 2011)<br>Rabu</a><a href="#"></a></th>
          <th class="left-text"> <a href="#">(4/3 2011)<br>Kamis</a><a href="#"></a></th>
          <th class="left-text"> <a href="#">(5/3 2011)<br>Jumat</a><a href="#"></a></th>
          <th class="left-text"> <a href="#">(6/3 2011)<br>Sabtu</a><a href="#"></a></th>
          <th class="left-text"> <a href="#">(7/3 2011)<br>Minggu</a><a href="#"></a></th>
          <th class="left-text"> <a href="#">(8/3 2011)<br>Minggu</a><a href="#"></a></th>
          <th class="left-text"> <a href="#">Lama Kerja</a><a href="#"></a></th>
		    </tr>
		  </thead>
		<tbody>
		  <tr>
			  <th class="left-text">Shift pagi</td>
        <td class="left-text">Group A</td>
        <td class="left-text">Group A</td>
        <td class="left-text">Group B</td>
        <td class="left-text">Group B</td>
        <td class="left-text">Group C</td>
        <td class="left-text">Group C</td>
        <td class="left-text">Group D</td>
        <td class="left-text">Group D</td>
        <td class="left-text">Group A</td>
			</tr>
		  <tr>
			  <th class="left-text">Shift Sore</td>
        <td class="left-text">Group B</td>
        <td class="left-text">Group B</td>
        <td class="left-text">Group C</td>
        <td class="left-text">Group C</td>
        <td class="left-text">Group D</td>
        <td class="left-text">Group D</td>
        <td class="left-text">Group A</td>
        <td class="left-text">Group A</td>
        <td class="left-text">Group B</td>
			</tr>
      <tr>
			  <th class="left-text">Shift Malam</td>
        <td class="left-text">Group C</td>
        <td class="left-text">Group C</td>
        <td class="left-text">Group D</td>
        <td class="left-text">Group D</td>
        <td class="left-text">Group A</td>
        <td class="left-text">Group A</td>
        <td class="left-text">Group B</td>
        <td class="left-text">Group B</td>
        <td class="left-text">Group C</td>
			</tr>
      <tr>
			  <th class="left-text">Non Shift</td>
        <td class="left-text">Group D</td>
        <td class="left-text">Group D</td>
        <td class="left-text">Group A</td>
        <td class="left-text">Group A</td>
        <td class="left-text">Group B</td>
        <td class="left-text">Group B</td>
        <td class="left-text">Group C</td>
        <td class="left-text">Group C</td>
        <td class="left-text">Group D</td>
			</tr>
     </tbody>
	</table>