<script type="text/javascript">
 
  $(document).ready(function(){
    $('#cboxClose').click(function(){
      $('.loading').hide();

    });

    $(".grey_button").click(function(){
      $.colorbox.close();
    })
  });

  function closePopUp(){
    $.colorbox.close()
    $('.loading').hide();
  }
</script>

<div id="message_delete" class="popup">
  <br />

  <div class="title-page-small">
    Konfirmasi Penghapusan Data
  </div>
  <div class="popup-confirmation">
    <span class="alert_big_ico">&nbsp;</span>
    Apakah Anda yakin akan menghapus Data Ini?
    <div class="clear"></div>
    <p>Note : Jika Anda memilih Ya, aksi ini tidak dapat di batalkan.</p>
  </div>
  <div class="box-form">
    <input type="hidden" id="tamp" name="tamp"/>
    <div class="right">
      <input type="submit" value="Ya" class="blue_button" onclick="deleteFromEmployee(<%= id %>)" />
      <input type="button" value="Tidak" class="grey_button"/>&nbsp;&nbsp;&nbsp;
    </div>
  </div>
</div>

