<div id="search_result">
  <div class="clear"></div>
  <span style="" class="input">
    <label> Andi Malarangeng</label>
    <a class="right">Tambah</a>

  </span>
  <div class="clear"></div>
  <span style="" class="input">
    <label>Andi Zainal</label>
    <a class="right">Tambah</a>

  </span>
  <div class="clear"></div>
  <span style="" class="input">
    <label>Alex Baros</label>
    <a class="right">Tambah</a>

  </span>
</div>