<div id="list_periode" class="list" style="display: none; ">
   <ul>
     <li style="cursor: default; list-style-image: none;">
      <b>Periode</b> : waktu berlakunya shift yang ditentukan untuk karyawan yang diassign pada shift ini, sehingga untuk periode ini karyawan akan berada pada jadwal shift ini.
     </li>
   </ul>
</div>

<div id="list_shift" class="list" style="display: none; ">
   <ul>
     <li style="cursor: default; list-style-image: none; ">
       <b>Shift</b> : nama shift yang akan Anda assign ke karyawan untuk periode terpilih.
     </li>
   </ul>
</div>

<div id="list_karyawan" class="list" style="display: none; ">
   <ul>
     <li style="cursor: default; list-style-image: none; ">
       <b>Pilih karyawan</b>: daftar karyawan yang ingin Anda assign pada shift tersebut dalam kurun waktu periode tersebut. Silahkan ketik nama karyawan pada field nama karyawan yang disediakan, maka auto complete nama karyawan yang sesuai dengan yang Anda inputkan akan muncul. Klik ceklist hijau yang ada pada sisi kanan field untuk memilih karyawan tersebut.
     </li>
   </ul>
</div>

<div id="list_byk_karyawan" class="list" style="display: none; ">
   <ul>
     <li style="cursor: default; list-style-image: none; ">
       <b>Pilih banyak karyawan</b> : dapat Anda manfaatkan jika Anda ingin mengassign karyawan yang ada pada bagian/grup tertentu, sehingga Anda tidak perlu repot menulis satu persatu nama karyawan yang ingin Anda assign pada shift tersebut. Klik ceklist hijau yang ada pada sisi kanan field untuk memilih karyawan tersebut.
     </li>
   </ul>
</div>

<%= javascript_include_tag  'tax_status_tooltips' %>