<legend>Scheduling</legend>
<%= render :partial => "layouts/top_menu_schedule" %>
<div id="line" style="background:none repeat scroll 0 0 #94B9E7;height:3px;width:100%"></div>
<br/>
<form>
  <span class="input">
    <label>Pilih Bulan</label>:
    <select>
      <option>January</option>
      <option>February</option>
      <option>April</option>
      <option>Mei</option>
      <option>Juli</option>
      <option>Agustus</option>
      <option>September</option>
      <option>Oktober</option>
      <option>November</option>
      <option>Desember</option>
    </select>
  </span>
   <span class="input">
    <label>Pilih Tahun</label>:
    <select>
      <option>2005</option>
      <option>2006</option>
      <option>2007</option>
      <option>2008</option>
      <option>2009</option>
      <option>2010</option>
      <option>2011</option>
      <option>2012</option>
      <option>2013</option>
    </select>
  </span>
  <span class="clear"></span>
   <span class="input">
    <label>Pilih Departemen</label>:
    <select>
      <option>Accounting</option>
      <option>Finance</option>
      <option>Printing</option>
      <option>Dyeing</option>
    </select>
  </span>
   <span class="input">
    <label>Pilih Devisi</label>:
    <select>
      <option>Teller</option>
      <option>Operator</option>
    </select>
  </span>

</form>

<%= render :partial => "list_layout_schedule" %>
 <div class="panelFilter">
		          <div class="pagination">
		            <span class="paginationResult">1-2 dari 500</span> <a href=""><span class="icons last_ico">&nbsp;</span></a> <a href=""><span class="icons next_ico">&nbsp;</span></a> <a href=""><span class="icons prev_ico">&nbsp;</span></a> <a href=""><span class="icons first_ico">&nbsp;</span></a>

		          <div class="clear"></div>
              </div>
              </div>