<span class="input">
  <label>Nama Jenis Ijin</label>:
  <input type="txtJnsIjin"> 
</span>
<span class="clear"></span>

<span class="input">
  <label>Jumlah Maksimal Diterima</label>:
  <input type="txtJnsIjin">
</span>
<span class="clear"></span>

<span class="input">
  <label>Jumlah Maksimal Diterima</label>:
  <select width="30">
    <option>1</option>
    <option>2</option>
    <option>3</option>
  </select>
  <select>
    <option>Jangka Waktu</option>
    <option>2</option>
    <option>3</option>
  </select> 
</span>
<span class="clear"></span>

<span class="input">
  <label>Perlu Ganti Hari Kerja</label>:
  <input type="radio">Ya
  <input type="radio">Tidak
</span>
<span class="clear"></span>

<span class="input">
  <label>Cara Ganti Waktu Kerja</label>:
  <input type="text">
</span>
<span class="clear"></span>

<span class="input">
  <label>Konspensasi Jika Tidak Diganti Waktu Kerja</label>:
  <input type="text">
</span>
<span class="clear"></span>