<span class="input">
  <label>Toleransi Keterlambatan</label>:
  <input type="txtJnsIjin"> Menit
</span>
<span class="clear"></span>

<span class="input">
  <label>Waktu kelipatan perhitungan</label>:
  <input type="txtJnsIjin"> Menit
</span>
<span class="clear"></span>

<span class="input">
  <label>Jatah cuti pada tahun pertama</label>:
  <input type="txtJnsIjin"> Kali
</span>
<span class="clear"></span>

<span class="input">
  <label>Jatah cuti setiap tahun</label>:
  <input type="txtJnsIjin"> Kali
</span>
<span class="clear"></span>
