 <table class="formtable table_sorting" id="table_sorting">
		<thead>
			<tr>
			  <th width="10"> <input type="checkbox"></th>
			  <th width="700"> <a href="#">Name<span class="icons sorter_ico">&nbsp;</span> </a> </th>
			  <th width="90"> <a href="#">Diganti dengan uang<span class="icons sorter_ico">&nbsp;</span> </a>  </th>
		  </tr>
		</thead>
		<tbody>
      <tr>
        <td><input type="checkbox"></td>
        <td><a href="#">Cuti</a></td>
        <td><input type="checkbox"></td>
      </tr>
      <tr>
        <td><input type="checkbox"></td>
        <td><a href="#">Cuti</a></td>
        <td><input type="checkbox"></td>
      </tr>
      <tr>
        <td><input type="checkbox"></td>
        <td><a href="#">Cuti</a></td>
        <td><input type="checkbox"></td>
      </tr>
      <tr>
        <td><input type="checkbox"></td>
        <td><a href="#">Cuti</a></td>
        <td><input type="checkbox"></td>
      </tr>

    </tbody>
	</table>