<table>
        	<thead>
          	<tr>

            <th width="200" class="left-text">
              <a href="">
                <span class="left-text">Toleransi Keterlambatan</span>
                <span class="icons sorter_ico">&nbsp;</span>
                </a>
            </th>
           	<th width="200" class="center-text">
           	  <a href="">
           	    <span class="center-text">Waktu Kelipatan perhitungan</span><span class="icons sorter_ico">&nbsp;</span>
           	    </a>
         	  </th>
           	<th width="226" class="left-text">
           	  <a href="">
           	    <span class="center-text">Jatah cuti tahun pertama</span>
           	    <span class="icons sorter_ico">&nbsp;</span>
           	    </a>
         	  </th>
            <th width="226" class="left-text">
           	  <a href="">
           	    <span class="center-text">Jatah cuti setiap tahun</span>
           	    <span class="icons sorter_ico">&nbsp;</span>
           	    </a>
         	  </th>
          </thead>

          <tbody>
          	<tr>
              <td>15 Menit</td>
              <td>10 menit</td>
              <td class="left-text">0 hari</td>
              <td class="right-text">12</td>
            </tr>

            <tr class="alt">
              <td>30 Menit</td>
              <td>15 Menit</td>
              <td class="left-text">1 Hari</td>
              <td class="right-text">6</td>
            </tr>            
          </tbody>
        </table>