<div id="list_kd_tdk_msk" class="list" style="display: none; ">
   <ul>
     <li style="cursor: default; list-style-image: none; ">
       <b>Kode tidak masuk</b> : kode jenis tidak masuk yang ingin Anda tambahkan. Kode ini nantinya akan muncul pada halaman rekap absensi karyawan ketika karyawan tidak masuk.</li>
   </ul>
</div>

<div id="list_jns_tdk_msk" class="list" style="display: none; ">
   <ul>
     <li style="cursor: default; list-style-image: none; ">
       <b>Jenis tidak masuk</b> : nama jenis tidak masuk yang ingin Anda tambahkan. Nama tidak masuk ini nanti akan tampil sebagai opsi alasan ketika karyawan diabsenkan tidak masuk.
     </li>
   </ul>
</div>

<div id="list_jth_in_year" class="list" style="display: none; ">
   <ul>
     <li style="cursor: default; list-style-image: none; ">
       <b>Jatah dalam satu tahun</b>: jumlah jatah yang diberikan perusahaan untuk jenis tidak masuk ini dalam satu tahun, yang berarti karyawan dapat melakukan jenis masuk ini sesuai jatahnya dalam satu tahun.
     </li>
   </ul>
</div>

<div id="list_gj_dibyr" class="list" style="display: none; ">
   <ul>
     <li style="cursor: default; list-style-image: none; ">
       <b>Gaji dibayar</b> : kebijakan perusahaan apakah gaji karyawan dibayar atau tidak ketika karyawan tidak masuk dan mengambil alasan jenis tidak masuk ini.
     </li>
   </ul>
</div>

<div id="list_htng_sbg_cuti" class="list" style="display: none; ">
   <ul>
     <li style="cursor: default; list-style-image: none; ">
       <b>Dihitung sebagai cuti</b>: kebijakan perusahaan apakah jenis tidak masuk ini akan dihitung sebagai cuti atau tidak nantinya.
     </li>
     <li>Apabila <b>Jatah Cuti Tahunan</b> sudah habis, otomatis akan memotong gaji.</li>
   </ul>
</div>

<div id="list_dpt_ganti_hr" class="list" style="display: none; ">
   <ul>
     <li style="cursor: default; list-style-image: none; ">
       <b>Dapat mengganti hari</b>: kebijakan perusahaan apakah jenis tidak masuk ini dapat mengganti hari atau tidak.
     </li>
   </ul>
</div>

<div id="list_tg_dibayar" class="list" style="display: none; ">
   <ul>
     <li style="cursor: default; list-style-image: none; ">
       Menentukan apakah jenis tidak masuk ini mempengaruhi pada pembayaran tunjangan tertentu atau tidak. Pilih 'ya'
       sehingga jika karyawan tidak masuk dengan jenis tidak masuk ini maka tunjangan akan dipotong. Pilih 'tidak' sehingga jika karyawan tidak masuk dengan jenis tidak masuk ini tidak
       mempengaruhi perhitungan tunjangan karyawan.
     </li>
   </ul>
</div>

<%= javascript_include_tag  'tax_status_tooltips' %>