 <div class="left right-information" style="width:1070px;">
  <%= render :partial=>"layouts/top_menu_detail_karyawan" %>
  <div id="content-dynamic">
	  <fieldset class="fm-table">
      <div class="inner-title">Tambah Pelanggaran</div>
      <div class="box-form">
        <% form_for @violation, :url => person_violations_path do |f| %>
         <div id="box_retur_0">
           <%= render :partial => 'violation_form', :locals => {:f => f} %>
             <p><span class="redstar">*</span> Harus diisi</p>
             <span class="clear"></span>
             <hr />
             <div class="center-text">
               <%= render :partial => "layouts/button_loader"  %>
               <div id="button">                 
                 <input id="info_section_cancel_basic" class="grey_button" type="reset" value="Cancel" name="info_section_cancel_basic" onclick="onCancel('<%= person_employments_path(@person) %>?tab=3')"/>
                 <input type="submit" value="Simpan" name="info_section_save_basic" id="info_section_save_basic" class="blue_button"/>
               </div>
             </div>
         </div>
       <% end-%>
		  </div>
    </fieldset>
   </div>
</div>
