<legend>HRM Setting</legend>
          <div class="panelFilter">
				<span class="add-button left">
	      <a href="/shifts" class="grey_button2">
				  <span class="bold">«</span>
					Kembali
				 </a>
		   </span>
	     </div>
         <table>
        	<thead>
          	<tr>
          	  <th width="76" class="center-text">
              	 <a href="">No. <span class="icons sorter_ico">&nbsp;</span>
          	    </a>
              </th>

          	<th width="207" class="center-text">
          	  <a href="">NIK <span class="icons sorter_ico">&nbsp;</span>
          	    </a>
        	  </th>
            <th width="328" class="center-text">
              <a href="">
                <span class="left-text">Nama </span>
                <span class="icons sorter_ico">&nbsp;</span>
                </a></th>
           	<th width="270" class="center-text">
           	  <a href="">
           	    <span class="center-text">Divisi</span>
           	    <span class="icons sorter_ico">&nbsp;</span>
           	    </a>
         	  </th>
           	</tr>
          </thead>

          <tbody>
          	<tr>
          	  <td class="center-text">1.</td>

            <td class="center-text">NI21-10011</td>
            <td class="left-text"><a href="/people/1"> Wiramadja</a></td>
            <td class="left-text">Accounting</td>
            </tr>

            <tr class="alt">
              <td class="center-text">2.</td>
            <td class="center-text">NI21-10012            </td>
            <td class="left-text"><a href="/people/1"> Seto Aldiansyah </a></td>
            <td class="left-text">Spinining</td>
            </tr>
            <tr>
              <td class="center-text">3.</td>

            <td class="center-text">NI21-10013            </td>
            <td class="left-text"><a href="/people/1"> Sigit Wardoyo </a></td>
            <td class="left-text">GA &amp; HRD</td>
            </tr>

            <tr class="alt">
              <td class="center-text">4.</td>
            <td class="center-text">NI21-10014            </td>
            <td class="left-text"><a href="/people/1"> Nimas Anggraeny </a></td>
            <td class="left-text"> Technical </td>
            </tr>
            <tr>
              <td class="center-text">5.</td>

            <td class="center-text">NI21-10015            </td>
            <td class="left-text"><a href="/people/1"> Edo Hutabarat </a></td>
            <td class="left-text"> Engineering </td>
            </tr>

            <tr class="alt">
              <td class="center-text">6.</td>
            <td class="center-text">NI21-10016            </td>
            <td class="left-text"><a href="/people/1"> Dika Sudrajat</a></td>
            <td class="left-text">Technical</td>
            </tr>
            <tr>
              <td class="center-text">7.</td>
              <td class="center-text">NI21-10017              </td>
              <td class="left-text"><a href="/people/1"> Vincky Vardan </a></td>
              <td class="left-text">Spinining</td>
              </tr>
          </tbody>
        </table>
          <span class="clear"></span>
        <hr>
        <div class="center-text box-form">
                        <input type="button" class="blue_button" value="Simpan" onclick="javascript:window.location='/shifts'" >
                        <input type="reset" class="grey_button" value="Batal"  onclick="javascript:window.location='/shifts'">
                    </div>
