
<fieldset class="fm-table">
 <legend> <a href="#" id="help_dash" class="icons help-top-icon" title="Click to show/hide information">&nbsp;</a>
   HRM Setting</legend>
  <%= render :partial => "layouts/howto/howto_content"%>

  <div class="panelFilter">
    <span class="add-button left">
      <a href="/shifts" class="grey_button2">
        <span class="bold">«</span>
	Kembali
      </a>
    </span>
  </div>
  <table>
    <thead>
      <tr>
        <th width="137" class="center-text">
          <a href="">Hari<span class="icons sorter_ico">&nbsp;</span>
          </a>
        </th>
        <th width="140" class="center-text">
          <a href="">
            <span class="left-text">Mulai</span>
            <span class="icons sorter_ico">&nbsp;</span>
          </a>
        </th>
        <th width="145" class="center-text">
          <a href="">
            <span class="center-text">Selesai</span><span class="icons sorter_ico">&nbsp;</span>
          </a>
        </th>
        <th width="142" class="center-text">
          <a href="">
            <span class="center-text">Total Jam</span>
            <span class="icons sorter_ico">&nbsp;</span>
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="center-text">Senin</td>
        <td class="center-text">09.00</td>
        <td class="center-text">17.00</td>
        <td class="center-text">8</td>
      </tr>

      <tr class="alt">
        <td class="center-text">Selasa</td>
        <td class="center-text">09.00</td>
        <td class="center-text">17.00</td>
        <td class="center-text">8</td>
      </tr>
      <tr>
        <td class="center-text">Rabu</td>
        <td class="center-text">09.00</td>
        <td class="center-text">17.00</td>
        <td class="center-text">8</td>
      </tr>
      <tr class="alt">
        <td class="center-text">Kamis</td>
        <td class="center-text">09.00</td>
        <td class="center-text">17.00</td>
        <td class="center-text">8</td>
      </tr>
      <tr>
        <td class="center-text">Jum'at</td>
        <td class="center-text">09.00</td>
        <td class="center-text">17.00</td>
        <td class="center-text">8</td>
      </tr>
      <tr class="alt">
        <td class="center-text">Sabtu</td>
        <td class="center-text bold" colspan="2">LIBUR</td>
        <td class="center-text">0</td>
      </tr>
      <tr>
        <td class="center-text">Minggu</td>
        <td class="center-text bold" colspan="2">LIBUR</td>
        <td class="center-text">0</td>
      </tr>
      <tr class="total">
        <td class="right-text" colspan="3">Total :</td>
        <td class="center-text">43</td>
      </tr>
    </tbody>
  </table>
  <br/>
  <div class="panelFilter-small">
    <div id="action_menu"> <span class="form-label">Daftar Karyawan</span> </div>
  </div>
  <table>
    <thead>
      <tr>
        <th width="76" class="center-text">
          <a href="">No. <span class="icons sorter_ico">&nbsp;</span>
          </a>
        </th>
        <th width="207" class="center-text">
          <a href="">NIK <span class="icons sorter_ico">&nbsp;</span>
          </a>
        </th>
        <th width="328" class="center-text">
          <a href="">
            <span class="left-text">Nama </span>
            <span class="icons sorter_ico">&nbsp;</span>
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="center-text">1.</td>
        <td class="center-text">NI21-10011</td>
        <td class="left-text"><a href="data_basic_karyawan.html"> Wiramadja</a></td>
      </tr>
      <tr class="alt">
        <td class="center-text">2.</td>
        <td class="center-text">NI21-10012            </td>
        <td class="left-text"><a href="/people/1"> Seto Aldiansyah </a></td>
      </tr>
      <tr>
        <td class="center-text">3.</td>
        <td class="center-text">NI21-10013            </td>
        <td class="left-text"><a href="/people/1"> Sigit Wardoyo </a></td>
      </tr>
      <tr class="alt">
        <td class="center-text">4.</td>
        <td class="center-text">NI21-10014            </td>
        <td class="left-text"><a href="/people/1"> Nimas Anggraeny </a></td>
      </tr>
      <tr>
        <td class="center-text">5.</td>
        <td class="center-text">NI21-10015            </td>
        <td class="left-text"><a href="/people/1"> Edo Hutabarat </a></td>
      </tr>
      <tr class="alt">
        <td class="center-text">6.</td>
        <td class="center-text">NI21-10016            </td>
        <td class="left-text"><a href="/people/1"> Dika Sudrajat</a></td>
      </tr>
      <tr>
        <td class="center-text">7.</td>
        <td class="center-text">NI21-10017              </td>
        <td class="left-text"><a href="/people/1"> Vincky Vardan </a></td>
      </tr>
    </tbody>
  </table>
</fieldset>