<table class="editor" id="product_detail_form">
    <tr>
        <td class="label">
          <%= f.label 'nama_perusahaan <span id="star">*</span>', nil, :class => :row_description %>   </td>
        <td><%= f.text_field :title, :class => 'inputtext' %><%= error_message_on @holding_company, :title %>    </td>
    </tr>
</table>