<label class="left">Periode</label>
<%= select_year(Date.today, {:field_name => 'start_year'}, {:style=>"width:80px;"}) %>
-
<%= select_year(Date.today, {:field_name => 'end_year'}, {:style=>"width:80px;"}) %>