<% unless @person.blank? %>
  <div class="clear"></div>
  <span class="input">
    <label>PTKP</label>:
    <%= number_to_currency(@person.tax_status.ptkp, :unit => "Rp. ", :separator => ",", :delimiter => ".", :format => "%u %n", :precision => 0) + ",-" unless @person.tax_status.blank? %>
  </span>
  <div class="clear"></div>
  <span class="input">
    <label>Status</label>: <%= @person.marital_status.titleize unless @person.marital_status.blank?%>
  </span>
  <div class="clear"></div>
  <span class="input">
    <label>NPWP</label>: <%= @person.no_npwp %>
  </span>
  <div class="clear"></div>
  <span class="input">
    <label>Jamsostek</label>: <%= @person.jamsostek_number.blank? ? 'No' : 'Ya' %>
  </span>
  <div class="clear"></div>
<% end %>