<!-- popup -->
<div style="display:none;">
  <div class="frm-popup" id="popup_karyawan">
    <div class="title-page-tambah"></div>
    <fieldset>
      <span class="input">
        <label>Search</label>
        <input type="text">
        <a onclick="javascript:onAbsensi()" href="#" class="grey_button2"><span class="left">Go</span></a>
      </span>
      <span class="clear"></span>
      <table>
        <thead>
          <tr>
            <th class="left-text">Hari</th>
            <th class="left-text">Tanggal</th>
            <th class="left-text">Lama Kerja</th>
            <th class="left-text">Lama Istirahat</th>
          </tr>
        </thead>
        <tbody>
          <tr><td>Senin</td><td>08/08/2011</td><td>8 Jam</td><td>30 Menit</td></tr>
        </tbody>
      </table>
    </fieldset>
  </div>
</div>
<div class="clear"></div>
<!-- end popup -->