<!-- popup -->
<div style="display:none;">
  <div class="frm-popup" id="popup_cuti_karyawan">
    <div id="popup2">
      <%- if @person %>
        <div class="title-page-tambah"><%= "Edit cuti #{@person.full_name.titleize}" %></div>
        <% form_for :person, :url => {:action => :update_employee_leave_quota, :controller => "leaves", :person_id=> @person.id }, :method => :put, :remote => :true do |f| %>
          <fieldset>
            <span class="input">
              <label>Sisa jatah cuti saat ini </label>
              <%= f.text_field :quota, :value => @current_remaining_quota  %>
            </span>
            <span class="clear"></span>
            <hr />
            <div class="center-text  box-form">
              <%= render :partial => "layouts/button_loader"  %>
              <div id="button">
                <input type="reset" id="info_section_cancel_basic" class="grey_button" value="Batal" name="info_section_cancel_basic" onclick="javascript:$.colorbox.close();" />
                <%= submit_to_remote 'save_button', 'Simpan', :url => update_employee_leave_quota_leave_path(@person.id),
            :method => :put,
            :update => "content_ajax",
            :failure => "ShowNotifyMessage('Data jatah cuti karyawan tidak berhasil diupdate');",
            :success => "$.colorbox.close();refresh_page_with_note('absences/mine?profiles=1&id=#{@person.id}','Data jatah cuti karyawan berhasil diupdate');",
            :html => {:class => 'blue_button_a'} %>
              </div>
            </div>
          </fieldset>
        <%- end %>
      <%- end %>
    </div>
  </div>
</div>
<!-- end popup -->
