<form name="new_detail_produk" method="post">
  <div class="button-block-top box-form">
    <div class="right">
      <a href="edit_lpb.html" id="add_product" class="grey_button_a">
        <span class="icons delete-icon">&nbsp;</span>
        Hapus
      </a>
      <a href="edit_lpb.html" id="add_product" class="grey_button_a">
        <span class="icons edit-icon">&nbsp;</span>
        Edit
      </a>
    </div>
  </div>
  <div class="clear"></div>
  <span class="input">
    <label>Nama Tunjangan</label>
    :
    Tunjangan Makan
  </span>
  <div class="clear"></div>
  <span class="input">
    <label>Jangka Waktu Pemberian</label> :
    Setiap 2 Hari
  </span>
  <div class="clear"></div>
  <span class="input">

    <label>Besar Tunjangan</label> :
    Sama setiap orang
  </span>
  <div class="clear"></div>

  <!-- Line -->
  <div class="clear"></div>
  <div class="input data-tabel tunj" id="tunj_4">
    <label><input type="checkbox" id="kontrak_harian" disabled="disabled" checked="checked"> Kontrak Harian</label>
    <label><input type="checkbox" id="kontrak_harian" disabled="disabled" checked="checked"> Kontrak Bulanan</label>

    <div class="input-separator"></div>
    <div class="frm-input">
      <input type="hidden" id="counter2" value="1">
      <br>
      <table id="tb_tunj">
        <thead>
          <tr>
            <th width="170" class="left-text">
              
              <a href="">
          	      Nama Jabatan <span class="icons sorter_ico">&nbsp;</span></a>
            </th>
            <th width="109" class="center-text"><a>Jenis Status<span class="icons sorter_ico">&nbsp;</span></a></th>
            <th width="137" class="center-text">
              <a href="">
           	    Tunjangan<span class="icons sorter_ico">&nbsp;</span></a>
            </th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="left-text">Spinning</td>
            <td class="center-text">Harian Tetap</td>
            <td class="right-text">Rp. 20.000 ,-</td>
          </tr>
          <tr class="alt">
            <td class="left-text">Spinning</td>
            <td class="center-text">Harian Tetap</td>
            <td class="right-text">Rp. 20.000 ,-</td>
          </tr>
          <tr>
            <td class="left-text">Spinning</td>
            <td class="center-text">Harian Tetap</td>
            <td class="right-text">Rp. 20.000 ,-</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- Line -->
  <div class="clear"></div>
  <hr>
</form>