<table width="1450" id="overtime_table">
  <thead>
    <tr>
      <th class="center-text" width="20"><input type="checkbox"></th>
      <th width="163"><a class="left-text">Nama Karyawan<!--<span class="icons sorter_ico">&nbsp;</span>--></a> </th>
      <th width="163"><a>Departemen<!--<span class="icons sorter_ico">&nbsp;</span></a>--></th>
      <th width="95"><a>Bagian<!--<span class="icons sorter_ico">&nbsp;</span></a>--></th>
      <th width="106"><a>Tanggal<!--<span class="icons sorter_ico">&nbsp;</span></a>--></th>
      <th width="106">Lama Lembur</th>
      <th width="106">Status</th>
      <th width="106">Alasan</th>
    </tr>
  </thead>
    <tbody>
    </tbody>
</table>

