<table width="1450" id="less_rests_table">
  <thead>
    <tr>
      <th width="20"><input type="checkbox" onclick="javascript:"></th>
      <th width="145">Nama</th>
      <th width="90">Departemen</th>
      <th width="80">Bagian</th>
      <th width="75">Tanggal</th>
      <th width="95">Lama Istirahat</th>
      <th width="115">Status </th>
      <th width="130">Keterangan</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

