<table width="1450" id="no_logouts_table">
  <thead>
    <tr>
      <th width="20"><input type="checkbox"></th>
      <th width="135">Nama</th>
      <th width="100">Departemen</th>
      <th width="100">Bagian</th>
      <th width="90">Jabatan</th>
      <th width="90">Tanggal</th>
      <th width="90">Jam Masuk</th>
      <th width="90">Jam Keluar</th>
      <th width="120">Keterangan</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

