<table width="1450" id="absents_table">
  <thead>
    <tr>
      <th width="10"><input type="checkbox" onselect="CheckAll(document.myform.check_list)"></th>
      <th width="163">Nama</th>
      <th width="133">Departemen</th>
      <th width="133">Bagian</th>
      <th width="127">Tanggal</th>
      <th width="127">Tipe</th>
      <th width="187">Sisa Jatah Cuti</th>
      <th width="187">Jumlah Ijin</th>
      <th width="187">Keterangan</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

