<table width="1450" id="late_absences_table">
  <thead>
    <tr>
      <th width="20" class="center-text"><input type="checkbox" /></th>
      <th width="135">Nama</th>
      <th width="100">Departemen</th>
      <th width="100">Bagian</th>
      <th width="90">Shift</th>
      <th width="90">Tanggal</th>
      <th width="90">Masuk Kerja </th>
      <th width="100">Terlambat</th>
      <th width="120">Keterangan</th>
      <th width="120">Status</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

