<table width="1450" id="less_hours_table">
  <thead>
    <tr>
      <th width="10"><input type="checkbox"></th>
      <th width="140" class="left-text">Nama</th>
      <th width="80">Departemen</th>
      <th width="80">Bagian</th>
      <th width="85">Tanggal</th>
      <th width="65">Jam Mulai </th>
      <th width="65">Jam Selesai </th>
      <th width="75">Lama Kerja</th>
      <th width="100">Alasan/status</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

