<table id= "my_monthly_table">
  <thead>
    <tr>
      <th>Hari</th>
      <th>Tanggal</th>
      <th class="center-text">Jam Masuk</th>
      <th class="center-text">Jam Keluar</th>
      <th class="center-text">Lama Kerja</th>
      <th class="center-text">Lembur</th>
      <th class="center-text">Keterangan</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="left-text"></td>
      <td class="left-text"></td>
      <td class="left-text"></td>
      <td class="left-text"></td>
      <td class="left-text"></td>
      <td class="left-text"></td>
      <td class="left-text"></td>
    </tr>

  </tbody>
</table>

