<div style="display:none">
    <div id="message_delete" class="popup">
    <br />
    <div class="title-page-small">
      Konfirmasi <div id="div_nama_comfirm" style="display:inline;">Penghapusan</div> <div id="div_data1" style="display:inline;">Data</div>
    </div>
    <div class="popup-confirmation">
      <span class="alert_big_ico">&nbsp;</span>
      Apakah Anda yakin akan <div id="div_aksi" style="display:inline;">menghapus</div> <div id="div_data2" style="display:inline;">data </div><div id="div_sign" style="display:inline;">pendidikan</div>?
      <div class="clear"></div>
      <p>Note : Jika Anda memilih Ya, aksi ini tidak dapat di batalkan.</p>
    </div>
    <div class="box-form">
      <input type="hidden" id="tamp" name="tamp"/>
      <div class="right">
        <div id="div_btn_hapus" style="display:inline;">
          <input type="button" value="Ya" class="blue_button" onclick="delete_pendidikan()"/>
        </div>
        <input type="button" value="Tidak" class="grey_button"  onclick="$.fn.colorbox.close()"/>&nbsp;&nbsp;&nbsp;
      </div>
    </div>
  </div>
 </div>