<!-- popup -->
      <div style="display:none;">
        <div class="frm-popup" id="popup_delete">
          <div class="title-page-tambah"></div>
          <legend>Are you sure?</legend>
        </div>
      </div>
      <div class="clear"></div>
      <!-- end popup -->