<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>Human Resources Management: Print Gaji</title>
      <link type="text/css" rel="stylesheet" href="/stylesheets/screen.css">
      <link type="text/css" rel="stylesheet" href="/stylesheets/fm_form.css">
      <script type="text/javascript" src="/javascripts/jquery.js"></script>
    </head>
    <body>
        <%= yield %>
    </body>
</html>
